In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [3]:
df_iris = pd.DataFrame(iris.data, columns = iris.feature_names)
df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
df_iris['target']= iris.target

In [5]:
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
# use lambda X: to set iris flower name,this is optional code just for practice

df_iris['flower_name']= df_iris.target.apply(lambda x: iris.target_names[x])

In [7]:
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(df_iris.drop(['target','flower_name'],axis =1),df_iris.target,test_size = .2,random_state = 10)

In [10]:
from sklearn.model_selection import cross_val_score

In [11]:
LR = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'),df_iris.drop(['target','flower_name'],axis =1),df_iris.target,cv =5)
print(np.average(LR))

0.9600000000000002

In [12]:
SVC= cross_val_score(SVC(gamma ='auto'),df_iris.drop(['target','flower_name'],axis =1),df_iris.target,cv =5)
print(np.average(SVC))

0.9800000000000001

In [13]:
DT = cross_val_score(DecisionTreeClassifier(),df_iris.drop(['target','flower_name'],axis =1),df_iris.target,cv =5)
print(np.average(DT))

0.9666666666666668

In [15]:
RF = cross_val_score(RandomForestClassifier(n_estimators=50),df_iris.drop(['target','flower_name'],axis =1),df_iris.target,cv =5)
print(np.average(RF))

0.96

In [ ]:
# with cross-val -score method we saw that SVC is giving the highest accuracy score.